<div class="commercial-main-content">
    <section class="section-header-content">
        <div class="container">
            [%breadcrumb%]
                [%param *header%]
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                                <meta itemprop="position" content="0" />
                            </li>
                [%/param%]
                [%param *body%]
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                                <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                            </li>
                [%/param%]
                [%param *footer%]
                        </ol>
                    </nav>
                [%/param%]
            [%/breadcrumb%]
            <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
            [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
            <div class="description-content-coper wow fadeInLeft">
                [@content_description1@]
            </div>
            [%/if%]
        </div>
    </section>

    [%thumb_list type:'products' filter_category:'165' limit:'99'%]
        [%param *header%]
        <section class="project-gallery">
                <div class="row wow fadeInUp" data-wow-delay="0.8s">
        [%/param%]
        [%param *body%]
            <div class="col-lg-3 col-md-6 col-sm-6 project-gallery-item" data-sku="[@SKU@]">
                <img class="img-fluid" src="[%asset_url type:'product' thumb:'full' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="KFC_Mascot">
                <p class="text-center">[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</p>
            </div>
        [%/param%]
        [%param *footer%]
                </div>
            </div>
            <div id="modalMF" class="modal-mf">
                <div class="modal-mf-dialog">
                    <div class="content-mf">
                        <div class="modal-mf-content">
                            <div class="modal-mf-header">
                                <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-mf-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        [%/param%]
    [%/thumb_list%]
    <!-- End Section Project Gallery -->
    <section class="contact-us wow fadeIn" data-wow-delay="0.5s">
        [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
            [%parse%]
                [@content_description2@]
                [@content_description3@]
                [@content_wufoo_form@]
            [%/parse%]
        [%/if%]
    </section>
</div>