    <div class="commercial-main-content">
        <section class="section-header-content">
            <div class="container">
                [%breadcrumb%]
                    [%param *header%]
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                                    <meta itemprop="position" content="0" />
                                </li>
                    [%/param%]
                    [%param *body%]
                                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                                    <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                                </li>
                    [%/param%]
                    [%param *footer%]
                            </ol>
                        </nav>
                    [%/param%]
                [%/breadcrumb%]
                <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
                [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
                <div class="description-content-coper wow fadeInLeft">
                  [@content_description1@]
                  [@content_description2@]
                  [@content_description3@]
                </div>
                [%/if%]
            </div>
        </section>
        <section class="project-gallery">
            <div class="big-text text-center wow fadeInUp" data-wow-delay="0.5s">Project Gallery</div>
            <div class="row wow fadeInUp" data-wow-delay="0.8s">
                <div class="col-lg-3 col-md-6 col-sm-6">
                <img class="img-fluid" src="/assets/themes/skeletal/images/KFC.png" alt="KFC_Mascot">
                <p class="text-center">Art Series – The Chen</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                <img class="img-fluid" src="/assets/themes/skeletal/images/KFC.png" alt="KFC_Mascot">
                <p class="text-center">Art Series – The Chen</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                <img class="img-fluid" src="/assets/themes/skeletal/images/KFC.png" alt="KFC_Mascot">
                <p class="text-center">Art Series – The Chen</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                <img class="img-fluid" src="/assets/themes/skeletal/images/KFC.png" alt="KFC_Mascot">
                <p class="text-center">Art Series – The Chen</p>
                </div>
            </div>
        </section>
        <!-- End Section Project Gallery -->
        <section class="contact-us wow fadeInUp">
          <div class="container">
            <div class="row">
                <div class="question col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <p class="big-text">Cumtom Made Enquiry</p>
                    <p>In need of custom-made light fittings? Contact us today!</p>
                </div>
                <div class="form col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-name">Project Detail</div>
                    <div class="field-devide">
                        <label>First Name*</label>
                        <input type="text">
                    </div>
                    <div class="field-devide-short">
                        <label>Last Name*</label>
                        <input type="text">
                    </div>
                    <div class="field-devide">
                        <label>Contact Number*</label>
                        <input type="text">
                    </div>
                    <div class="field-devide-short">
                        <label>Email*</label>
                        <input type="text">
                    </div>
                    <div class="field-long">
                        <label>Company Name*</label>
                        <input type="text">
                    </div>
                    <div class="field-long">
                        <label>Website*</label>
                        <input type="text">
                    </div>
                    <div class="field-long">
                        <label>Project Details*</label>
                        <textarea cols="65" rows="4" placeholder="Tell us about your project"></textarea>
                    </div>
                    <div>
                        <a href="#" class="button">Submit</a>
                    </div>
                </div>
            </div>
          </div> 
        </section>
    </div>
</div>