<div class="main-content-faqs">
    <section class="section-header-content">
        <div class="container">
            [%breadcrumb%]
                [%param *header%]
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                                <meta itemprop="position" content="0" />
                            </li>
                [%/param%]
                [%param *body%]
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                                <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                            </li>
                [%/param%]
                [%param *footer%]
                        </ol>
                    </nav>
                [%/param%]
            [%/breadcrumb%]
            <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
            [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
            <div class="description-content-coper">
                [%parse%]
                    [@content_description1@]
                    [@content_description2@]
                    [@content_description3@]
                    [@content_wufoo_form@]
                [%/parse%]
            </div>
            [%/if%]
        </div>
    </section>

    <section class="section-banner wow zoomIn">
        <img src="[%asset_url type:'content' id:'[@content_id@]' default:'/assets/themes/skeletal/images/bg-post-default.png'/%]" alt="">
    </section>

    <section class="section-faq">
        <div class="container">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                HOW LONG DOES DELIVERY TAKE?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
                        <div class="card-body">
                            <p>All in stock items are usually shipped within 1-2 days of payment, and will be conveniently delivered to your home or office. Deliveries take place Monday-Friday during regular business hours.</p>
                            <p>Our couriers offer door-to-door service and cannot provide a precise time of the day for delivery. Please ensure someone is available at your nominated delivery address to sign for your items and receive the delivery.</p>
                            <p>If you cannot be available to accept your delivery, you may contact the courier directly to provide them with an authority to leave the goods unattended. However, this will void your warranty and shipping insurance, and neither Mayfield Lamps nor our courier can be held liable for any loss, theft or damage to your item.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn collapsed"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                DO YOU SHIP TO MY COUNTRY? 
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"  data-parent="#accordionExample" >
                        <div class="card-body">
                            <p>All in stock items are usually shipped within 1-2 days of payment, and will be conveniently delivered to your home or office. Deliveries take place Monday-Friday during regular business hours.</p>
                            <p>Our couriers offer door-to-door service and cannot provide a precise time of the day for delivery. Please ensure someone is available at your nominated delivery address to sign for your items and receive the delivery.</p>
                            <p>If you cannot be available to accept your delivery, you may contact the courier directly to provide them with an authority to leave the goods unattended. However, this will void your warranty and shipping insurance, and neither Mayfield Lamps nor our courier can be held liable for any loss, theft or damage to your item.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn collapsed"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                I HAVE TO RETURN SOMETHING. WHAT DO I DO?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"  data-parent="#accordionExample" >
                        <div class="card-body">
                            <p>All in stock items are usually shipped within 1-2 days of payment, and will be conveniently delivered to your home or office. Deliveries take place Monday-Friday during regular business hours.</p>
                            <p>Our couriers offer door-to-door service and cannot provide a precise time of the day for delivery. Please ensure someone is available at your nominated delivery address to sign for your items and receive the delivery.</p>
                            <p>If you cannot be available to accept your delivery, you may contact the courier directly to provide them with an authority to leave the goods unattended. However, this will void your warranty and shipping insurance, and neither Mayfield Lamps nor our courier can be held liable for any loss, theft or damage to your item.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn collapsed"  data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                CAN I CANCEL MY ORDER?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"  data-parent="#accordionExample">
                        <div class="card-body">
                            <p>All in stock items are usually shipped within 1-2 days of payment, and will be conveniently delivered to your home or office. Deliveries take place Monday-Friday during regular business hours.</p>
                            <p>Our couriers offer door-to-door service and cannot provide a precise time of the day for delivery. Please ensure someone is available at your nominated delivery address to sign for your items and receive the delivery.</p>
                            <p>If you cannot be available to accept your delivery, you may contact the courier directly to provide them with an authority to leave the goods unattended. However, this will void your warranty and shipping insurance, and neither Mayfield Lamps nor our courier can be held liable for any loss, theft or damage to your item.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn collapsed"  data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                CAN I TRACK MY ORDER?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"  data-parent="#accordionExample">
                        <div class="card-body">
                            <p>All in stock items are usually shipped within 1-2 days of payment, and will be conveniently delivered to your home or office. Deliveries take place Monday-Friday during regular business hours.</p>
                            <p>Our couriers offer door-to-door service and cannot provide a precise time of the day for delivery. Please ensure someone is available at your nominated delivery address to sign for your items and receive the delivery.</p>
                            <p>If you cannot be available to accept your delivery, you may contact the courier directly to provide them with an authority to leave the goods unattended. However, this will void your warranty and shipping insurance, and neither Mayfield Lamps nor our courier can be held liable for any loss, theft or damage to your item.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>