    <div class="howtomeasue-main-content">
        <section class="section-header-content">
                <div class="container">
                    [%breadcrumb%]
                        [%param *header%]
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                        <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                                        <meta itemprop="position" content="0" />
                                    </li>
                        [%/param%]
                        [%param *body%]
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                        <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                                        <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                                    </li>
                        [%/param%]
                        [%param *footer%]
                                </ol>
                            </nav>
                        [%/param%]
                    [%/breadcrumb%]
                    <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
                    <div class="description-content-coper">
                        <p>Mayfield design and produce contemporary light fittings for hotels, aged care facilities, serviced apartments, conference centres, restaurants and cafes.</p>
                        <p>We pride ourselves on our short lead times, competitive pricing, and honest &amp; open communication with all project stakeholders.</p>
                        <a href="#">Customer enquiry</a>
                    </div>
                </div>
        </section>
        <!-- End Section About -->
        <section class="basic-shapes">
            <div class="container">
                <div class="title text-center">Basic Shapes</div>
                <div class="shapes-list">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape">                                
                            </div> 
                            <p class="text-center">Cylinder</p> 
                        </div>   
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape">                               
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape">                               
                            </div> 
                            <p class="text-center">Cylinder</p> 
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape">                             
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape"> 
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div>   
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape"> 
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div> 
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape"> 
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div> 
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape"> 
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape"> 
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div>  
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape"> 
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div> 
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape"> 
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div> 
                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
                            <div class="content">
                                <img class="img-fluid" src="/assets/themes/skeletal/images/shape.png" alt="shape"> 
                            </div> 
                            <p class="text-center">Cylinder</p>
                        </div> 
                    </div>
                </div>    
            </div>
        </section> 
        <!-- End Section Basic Shapes -->
        <section class="how-to-measure">
            <div class="item-box">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 description d-flex flex-column justify-content-center">
                            <p class="big-text">How to Measure</p>
                            <div class="small-text">
                            <p></p>All our lampshades are measured in inches and are listed in the same format:</p>
                            <p>Top . Bottom . Height<br>(slant height not vertical height)</p>
                            <p>To measure your existing shade or to design a new one simply follow the same format.
                                    <br>T = Top diameter
                                    <br>B = Bottom diameter
                                    <br>H = Height (slantheight, not verticle height)</p>
                            <p>Example: 14.16.12 C1 White<br>The top diameter is 14", the bottom diameter is 16", the slant height is 12" and the fabric is our own C1 White Linen.</p>
                            <p>For Square, Rectangle and Oval shades, both length and depth measurements will need to be provided instead of diameters.</p>      
                            </div>    
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="/assets/themes/skeletal/images/how_to_measure_Drum.png" alt="drum">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-box">
                <div class="container">
                    <div class="row flex-row-reverse">
                        <div class="col-sm-12 col-md-12 col-lg-6 description d-flex flex-column justify-content-center">
                            <p class="big-text">The right size for the right base</p>
                            <div class="small-text">
                            <p>Our lampshades are available in 70+ standard shapes and sizes or in your specific, made to order size. </p>
                            <p>How do we choose the right size shade? Put simply, the taller the lamp, the larger the shade. </p>
                            <p>The diameter of the lampshade is the most important dimension in choosing your ideal size. The bottom of the shade should be wider than the widest part of the lamp base, but not more than the lamp base height.</p>
                            <p>We recommend the following size guide:</p>
                            <p>Lamp Type        Shade Diameter<br>
                                    Bedside Lamp       6" - 14"<br>
                                    Table Lamp        12" - 16"<br>
                                    Floor Lamp         16" - 22"</p>
                        </div>    
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="/assets/themes/skeletal/images/rightsize2.png" alt="drum">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-box">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 description d-flex flex-column justify-content-center">
                            <p class="big-text">Fitting Types</p>
                            <div class="small-text">
                                Base fit, Drop fit, Top fit, Finial fit, Harp, Clip on, Diffuser bowl. Our Lampshades can be made with a mind numbing number of different fitting types. As standard, our lampshades are made with a 29mm fitting raised 38mm (1.5") up from the bottom of the shade to suit the Australian standard BC22 Bayonet style lampholder. All other fitting types are available by custom order.
                            </div>    
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="/assets/themes/skeletal/images/sally.png" alt="drum">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-box products">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12"><img class="img-fluid" src="/assets/themes/skeletal/images/base-fit.png" alt="base-fit"></div>
                                <div class="col-lg-8 col-sm-12 d-flex flex-column justify-content-center description2 "><strong>Base Fit</strong><br>ID29mm to suit BC22 Bayonet lampholder standard on all Cylinder, Square & Rectangle shades. Optional ID40mm to suit E27 lampholder</div>
                            </div>            
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12"><img class="img-fluid" src="/assets/themes/skeletal/images/base-fit.png" alt="base-fit"></div>
                                <div class="col-lg-8 col-sm-12 d-flex flex-column justify-content-center description2"><strong>Base Fit</strong><br>ID29mm to suit BC22 Bayonet lampholder standard on all Cylinder, Square & Rectangle shades. Optional ID40mm to suit E27 lampholder</div>
                            </div>            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12"><img class="img-fluid" src="/assets/themes/skeletal/images/base-fit.png" alt="base-fit"></div>
                                <div class="col-lg-8 col-sm-12 d-flex flex-column justify-content-center description2"><strong>Base Fit</strong><br>ID29mm to suit BC22 Bayonet lampholder standard on all Cylinder, Square & Rectangle shades. Optional ID40mm to suit E27 lampholder</div>
                            </div>            
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12"><img class="img-fluid" src="/assets/themes/skeletal/images/base-fit.png" alt="base-fit"></div>
                                <div class="col-lg-8 col-sm-12 d-flex flex-column justify-content-center description2"><strong>Base Fit</strong><br>ID29mm to suit BC22 Bayonet lampholder standard on all Cylinder, Square & Rectangle shades. Optional ID40mm to suit E27 lampholder</div>
                            </div>            
                        </div>  
                    </div>
                </div>
            </div>
            <div class="item-box">
                <div class="container">
                    <div class="row flex-row-reverse ">
                        <div class="col-sm-12 col-md-12 col-lg-6 description d-flex flex-column justify-content-center">
                            <p class="big-text">The right size for the right base</p>
                            <div class="small-text">
                            <p>Our lampshades are available in 70+ standard shapes and sizes or in your specific, made to order size. </p>
                            <p>How do we choose the right size shade? Put simply, the taller the lamp, the larger the shade. </p>
                            <p>The diameter of the lampshade is the most important dimension in choosing your ideal size. The bottom of the shade should be wider than the widest part of the lamp base, but not more than the lamp base height.</p>
                            <p>We recommend the following size guide:</p>
                            <p>Lamp Type        Shade Diameter<br>
                                    Bedside Lamp       6" - 14"<br>
                                    Table Lamp        12" - 16"<br>
                                    Floor Lamp         16" - 22"</p>
                        </div>    
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-img">
                            <img class="img-fluid" src="/assets/themes/skeletal/images/how_to_measure_Drum.png" alt="drum">
                        </div>
                    </div>
                </div>
            </div>   
            <div class="item-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column justify-content-center download-field">
                            <p class="small-text">Download your copy of the Lampshade Guide here or click on the link below!</p>
                            <a href="#" class="button-download">Download Now</a>    
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-img"><img class="img-fluid" src="/assets/themes/skeletal/images/studio_1302.png" alt=""></div>
                    </div>
                </div>
            </div>
        </section> 
    </div>
</div>