    <div class="imspiration-main-content">
        <section class="section-header-content">
            <div class="container">
                [%breadcrumb%]
                    [%param *header%]
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                                    <meta itemprop="position" content="0" />
                                </li>
                    [%/param%]
                    [%param *body%]
                                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                                    <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                                </li>
                    [%/param%]
                    [%param *footer%]
                            </ol>
                        </nav>
                    [%/param%]
                [%/breadcrumb%]
                <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
                <div class="description-content">
                    [%parse%]
                        [@content_description1@]
                        [@content_description2@]
                        [@content_description3@]
                        [@content_wufoo_form@]
                    [%/parse%]
                </div>
            </div>
        </section>

        <section class="inspiration-gallery">
            <div class="row row_1 m-auto py-3">
                <div class="col-md-4 inspiration-products">
                    <img src="/assets/themes/skeletal/images/00.png" alt="square-img" class="img-fluid">
                    <div class="layer">             
                        <span><b>Stevie Table Lamp</b></span>
                        <br>
                        <span>$129.00</span>
                        <div class="button">Shop now</div>
                    </div>
                </div>
                <div class="col-md-4 inspiration-products"><img src="/assets/themes/skeletal/images/00.png" alt="square-img" class="img-fluid">
                    <div class="layer">             
                        <span><b>Stevie Table Lamp</b></span>
                        <br>
                        <span>$129.00</span>
                        <div class="button">Shop now</div>
                    </div>
                </div>
                <div class="col-md-4 inspiration-products"><img src="/assets/themes/skeletal/images/00.png" alt="square-img" class="img-fluid">
                    <div class="layer">             
                        <span><b>Stevie Table Lamp</b></span>
                        <br>
                        <span>$129.00</span>
                        <div class="button">Shop now</div>
                    </div>
                </div>
            </div>
            <div class="row row_2 m-auto py-3">
                <div class="col-md-4 d-flex align-content-between flex-wrap">
                    <div class="inspiration-products">
                        <img src="/assets/themes/skeletal/images/02.png" alt="small-rectangle-img" class="img-fluid">
                        <div class="layer">             
                            <span><b>Stevie Table Lamp</b></span>
                            <br>
                            <span>$129.00</span>
                            <div class="button">Shop now</div>
                        </div>
                    </div>
                    <div class="inspiration-products">
                        <img src="/assets/themes/skeletal/images/02.png" alt="small-rectangle-img" class="img-fluid">
                        <div class="layer">             
                            <span><b>Stevie Table Lamp</b></span>
                            <br>
                            <span>$129.00</span>
                            <div class="button">Shop now</div>
                        </div>
                    </div>                  
                </div>
                <div class="col-md-8 inspiration-products"><img src="/assets/themes/skeletal/images/01.png" alt="big-rectangle-img" class="img-fluid">
                    <div class="layer">             
                        <span><b>Stevie Table Lamp</b></span>
                        <br>
                        <span>$129.00</span>
                        <div class="button">Shop now</div>
                    </div>
                </div>
            </div>
            <div class="row row_3 m-auto py-3">
                <div class="col-md-9 inspiration-products"><img src="/assets/themes/skeletal/images/03.png" alt="big-square-img" class="img-fluid">
                    <div class="layer">             
                        <span><b>Stevie Table Lamp</b></span>
                        <br>
                        <span>$129.00</span>
                        <div class="button">Shop now</div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-content-between flex-wrap">
                    <div class="inspiration-products">
                        <img src="/assets/themes/skeletal/images/04.png" alt="big-square-img" class="img-fluid">
                        <div class="layer">             
                            <span><b>Stevie Table Lamp</b></span>
                            <br>
                            <span>$129.00</span>
                            <div class="button">Shop now</div>
                        </div>
                    </div>
                    <div class="inspiration-products">
                        <img src="/assets/themes/skeletal/images/04.png" alt="big-square-img" class="img-fluid">
                        <div class="layer">             
                            <span><b>Stevie Table Lamp</b></span>
                            <br>
                            <span>$129.00</span>
                            <div class="button">Shop now</div>
                        </div>
                    </div>
                    <div class="inspiration-products">
                        <img src="/assets/themes/skeletal/images/04.png" alt="big-square-img" class="img-fluid">
                        <div class="layer">             
                            <span><b>Stevie Table Lamp</b></span>
                            <br>
                            <span>$129.00</span>
                            <div class="button">Shop now</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row_4 m-auto py-3">
                <div class="col-md-4 inspiration-products"><img src="/assets/themes/skeletal/images/05.png" alt="square-img" class="img-fluid">
                    <div class="layer">             
                        <span><b>Stevie Table Lamp</b></span>
                        <br>
                        <span>$129.00</span>
                        <div class="button">Shop now</div>
                    </div>
                </div>
                <div class="col-md-4 inspiration-products"><img src="/assets/themes/skeletal/images/05.png" alt="square-img" class="img-fluid">
                    <div class="layer">             
                        <span><b>Stevie Table Lamp</b></span>
                        <br>
                        <span>$129.00</span>
                        <div class="button">Shop now</div>
                    </div>
                </div>
                <div class="col-md-4 inspiration-products"><img src="/assets/themes/skeletal/images/05.png" alt="square-img" class="img-fluid">
                    <div class="layer">             
                        <span><b>Stevie Table Lamp</b></span>
                        <br>
                        <span>$129.00</span>
                        <div class="button">Shop now</div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<script></script><script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
