<div class="lampshades-main-content">
    <section class="section-header-content">
        <div class="container">
            [%breadcrumb%]
                [%param *header%]
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                                <meta itemprop="position" content="0" />
                            </li>
                [%/param%]
                [%param *body%]
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                                <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                            </li>
                [%/param%]
                [%param *footer%]
                        </ol>
                    </nav>
                [%/param%]
            [%/breadcrumb%]
            <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
            [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
            <div class="description-content-coper">
                <p>With the list of 70+ standard lampshade shapes and sizes, available in a range of 45+ stock fabrics, lampshades can be made to your specific size and in almost any supplied fabric.</p>
                <a href="#">Customer enquiry</a>
            </div>
            [%/if%]
        </div>
    </section>

    <section class="section-banner wow zoomIn">
        <img src="[%asset_url type:'content' id:'[@content_id@]' default:'/assets/themes/skeletal/images/bg-post-default.png'/%]" alt="">
    </section>

    [%content_menu content_type:'category' sortby:'sortorder' show_empty:'1' category:'[@content_id@]' start_category:'[@content_id@]'%]
        [%param *header%]
        <section class="product-range">
            <div class="container">
                <h3 class="title wow fadeIn" data-wow-delay="0.3s">Product Range</h3>
                <div class="list-row-lampshades">
        [%/param%]
        [%param *level_1%]
            [%thumb_list type:'products' template:'lampshades' filter_category:'[@id@]' limit:'[@config:THUMB_LIMIT@]'%]
                [%param *header%]
                <div class="row" data-id="[@content_id@]">
                    <div class="col-lg-4 col-sm-12 col-thub-cate wow fadeInUp" data-wow-delay="0.2s">
                        <img src="[%asset_url type:'content' id:'[@content_id@]' default:''/%]" alt="product" class="img-fluid">
                    </div>
                    <div class="col-lg-8 col-sm-12 col-slider wow fadeInUp" data-wow-delay="0.2s">
                        <h3>[@name@]</h3>
                        <div class="info">
                        [%show_content id:'[@content_id@]' %]
                            [%param *body%]
                            [@content_description1@]
                            [%/param%]
                        [%/show_content%]
                        </div>
                        <div class="slider[@content_id@]">
                            <div class="img-slider wow fadeInUp" data-wow-delay="0.2s">
                [%/param%]
                [%param *footer%]
                            </div>
                        </div>
                    </div>
                </div>
                [%/param%]
                [%param *ifempty%]
                [%/param%]
            [%/thumb_list%]
            [%if [@next_level@]%][@next_level@][%/if%]
        [%/param%]
        [%param *footer%]
            </div>
            </div>
        </section>
        [%/param%]
    [%/content_menu%]

    <section class="contact-us wow fadeInUp" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="question col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <p class="big-text">Custom Made Enquiry</p>
                    <p>In need of custom-made light fittings? Contact us today!</p>
                </div>
                <div class="form col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-name">Project Detail</div>
                    <div class="field-devide">
                        <label>First Name*</label>
                        <input type="text">
                    </div>
                    <div class="field-devide-short">
                        <label>Last Name*</label>
                        <input type="text">
                    </div>
                    <div class="field-devide">
                        <label>Contact Number*</label>
                        <input type="text">
                    </div>
                    <div class="field-devide-short">
                        <label>Email*</label>
                        <input type="text">
                    </div>
                    <div class="field-long">
                        <label>Company Name*</label>
                        <input type="text">
                    </div>
                    <div class="field-long">
                        <label>Website*</label>
                        <input type="text">
                    </div>
                    <div class="field-long">
                        <label>Project Details*</label>
                        <textarea cols="65" rows="4" placeholder="Tell us about your project"></textarea>
                    </div>
                    <div>
                        <a href="#" class="button">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>