<div class="main-content-ourstory">
    <section class="section-header-content">
        <div class="container">
            [%breadcrumb%]
                [%param *header%]
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                                <meta itemprop="position" content="0" />
                            </li>
                [%/param%]
                [%param *body%]
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                                <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                            </li>
                [%/param%]
                [%param *footer%]
                        </ol>
                    </nav>
                [%/param%]
            [%/breadcrumb%]
            <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
        </div>
    </section>
    <section id="ourstoryContent" class="ourstory-content n-responsive-content" aria-label="Main description">
        [@page_content@]
    </section>
    <!-- Seller -->
    <section class="section-seller main-container">
        <div class="container-fluid">
            <dic class="row wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-lg-6">
                    <div class="content-block content-block-metricon">
                        <div class="content-text">
                            <h2>Commercial</h2>
                            <a href="[@config:home_url@]/custom-made">See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-block content-block-wholesale">
                        <div class="content-text">
                            <h2>Wholesale</h2>
                            <a href="[@config:home_url@]/wholesale-enquiries">See More</a>
                        </div>
                    </div>
                </div>
            </dic>
        </div>
    </section>
    <!-- #Seller -->
</div>