    <div class="container">
        [%breadcrumb%]
            [%param *header%]
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="0" />
                        </li>
            [%/param%]
            [%param *body%]
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                            <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                        </li>
            [%/param%]
            [%param *footer%]
                    </ol>
                </nav>
            [%/param%]
        [%/breadcrumb%]
        <h1 class="title-page">
            [%url_info name:'page_heading' default:'[@content_name@]'/%]
        </h1>
    </div>
    <section class="section-banner">
        <img src="/assets/themes/skeletal/images/banner.png" alt="banner">   
    </section> 
    <!-- End Section Banner -->
    <section class="about-outlet">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12 d-flex flex-column justify-content-center">
                    <p class="small-text">To stay informed about future sales, please subscribe to our outlet mailing list. </p>
                    <p class="text-bold-italic">Subscribe now for updates.</p>
                </div>
                <div class="col-lg-3 col-sm-12 d-flex flex-column justify-content-center">
                    <div class="outlet-details d-flex">
                        <div class="img-location"><img src="/assets/themes/skeletal/images/location.png" alt=""></div>    
                        <p>Factory Outlet<br>22 Viewtech Place<br>Rowville Victoria</p>
                    </div>
                    <div class="outlet-details d-flex">
                        <div class="img-clock"><img src="/assets/themes/skeletal/images/clock.png" alt=""></div>  
                        <p>Factory Outlet<br>22 Viewtech Place<br>Rowville Victoria</p>
                    </div>                  
                </div>             
            </div>
        </div>
    </section>
    <!-- End Section About -->

    <section class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573.526654196494!2d145.22098172347884!3d-37.92918506011155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad615e315996c89%3A0x5184e71a54b2d7c0!2s22+Viewtech+Pl%2C+Rowville+VIC+3178%2C+%C3%9Ac!5e0!3m2!1svi!2s!4v1566463739216!5m2!1svi!2s" width="100%" height="336" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
</div>