<div class="commercial-main-content">
    <section class="section-header-content">
        <div class="container">
            [%breadcrumb%]
                [%param *header%]
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                                <meta itemprop="position" content="0" />
                            </li>
                [%/param%]
                [%param *body%]
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                                <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                            </li>
                [%/param%]
                [%param *footer%]
                        </ol>
                    </nav>
                [%/param%]
            [%/breadcrumb%]
            <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
            [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
            <div class="description-content-coper wow fadeInLeft">
              [@content_description1@]
            </div>
            [%/if%]
        </div>
    </section>
    <section class="section-banner wow zoomIn">
        <img src="[%asset_url type:'content' id:'[@content_id@]' default:'/assets/themes/skeletal/images/bg-post-default.png'/%]" alt="">
    </section>
    [%thumb_list type:'products' filter_category:'112' limit:'40'%]
        [%param *header%]
        <section class="project-gallery" style="margin-top: 50px;">
          <div class="big-text text-center wow fadeIn" data-wow-delay="0.3s">Product Range</div>
          <div class="row wow fadeInUp" data-wow-delay="0.6s">
        [%/param%]
        [%param *body%]
          <div class="col-lg-3 col-md-6 col-sm-6">
            <img onclick="openModal('#modal[@SKU@]');" class="image-pendant img-fluid" src="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%END asset_url%]" alt="Product main image">
            <p class="text-center title-pendant" onclick="openModal('#modal[@SKU@]');">[@model@]</p>
            <div class="modal-pendant" id="modal[@SKU@]">
              <div class="modal-pendant-dialog">
                  <div class="modal-pendant-content">
                    <div class="modal-pendant-header">
                      <h4 class="modal-title" id="exampleModalLongTitle">[@model@]</h4>
                      <button type="button" class="close" onclick="closeModal('#modal[@SKU@]')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-pendant-body">
                      <div class="row-new">
                        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                          <div class="content-slide-img">
                            <div class="item-img">
                              <img class="img-fluid" src="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%END asset_url%]" alt="Product main image">
                            </div>
                            [%THUMBNAILS id:'[@SKU@]' check_parent:'y'%]
                            [%param *body%]
                            <div class="item-img">
                              <img src="[@full_image@]" class="img-fluid" alt="Product main image">
                            </div>
                            [%/param%]
                            [%/THUMBNAILS%]
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                          <div class="content-des">
                            [%product sku:'[@sku@]'%]
                              [%param *body%]
                              [@description@]
                              [%/param%]
                            [%/product%]
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        [%/param%]
        [%param *footer%]
          </div>
        </section>
        [%/param%]
        [%param *ifempty%]
            No Results Found
        [%/param%]
    [%/thumb_list%]
    <!-- End Section Project Gallery -->
    <section class="contact-us wow fadeInUp" data-wow-delay="0.3s">
        [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
            [%parse%]
                [@content_description2@]
                [@content_description3@]
                [@content_wufoo_form@]
            [%/parse%]
        [%/if%]
    </section>
</div>