<div class="container">
    [%breadcrumb%]
            [%param *header%]
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="0" />
                        </li>
            [%/param%]
            [%param *body%]
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                            <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                        </li>
            [%/param%]
            [%param *footer%]
                    </ol>
                </nav>
            [%/param%]
        [%/breadcrumb%]
    <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
    [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
    <div class="description-content-coper">
        [%parse%]
            [@content_description1@]
        [%/parse%]
    </div>
    [%/if%]
</div>

<div class="main-content-signup wow fadeInUp" data-wow-delay="0.3s">
    <div class="container">
        [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
            [%parse%]
                [@content_description2@]
            [%/parse%]
        [%/if%]
    </div>
</div>

<input class="styled-checkbox" id="business0" type="checkbox" value="Retailer">
<label for="business0">Retailer</label>

<input class="styled-checkbox" id="business1" type="checkbox" value="Online Retailer">
<label for="business0">Online Retailer</label>

<input class="styled-checkbox" id="business2" type="checkbox" value="Lighting Distributor">
<label for="business0">Lighting Distributor</label>

<input class="styled-checkbox" id="business2" type="checkbox" value="Architect">
<label for="business0">Architect</label>

<input class="styled-checkbox" id="business2" type="checkbox" value="Interior Designer">
<label for="business0">Interior Designer</label>

<input class="styled-checkbox" id="business2" type="checkbox" value="Property Staging">
<label for="business0">Property Staging</label>