<div class="stockists-main-content">
    <section class="section-header-content">
        <div class="container">
            [%breadcrumb%]
                [%param *header%]
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                                <meta itemprop="position" content="0" />
                            </li>
                [%/param%]
                [%param *body%]
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                                <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                            </li>
                [%/param%]
                [%param *footer%]
                        </ol>
                    </nav>
                [%/param%]
            [%/breadcrumb%]
            <h1 class="title-page">[%url_info name:'page_heading' default:'[@content_name@]'/%]</h1>
            [%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
            <div class="description-content">
                [%parse%]
                    [@content_description1@]
                    [@content_description2@]
                    [@content_description3@]
                    [@content_wufoo_form@]
                [%/parse%]
            </div>
            [%/if%]
        </div>
    </section>
    <section class="stockists-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 stockists-left wow zoomIn">
                    <div class="">Your Postcode or City</div>
                    <input id="postcode" maxlength="99999" type="number" placeholder="Enter your postcode or city">
                    <div class="">Show Stores Within</div>
                    <div class="kilometer-select">
                        <select name="kilometer" id="kilometerSelect">
                            <option value="25">25 KM</option>
                            <option value="50">50 KM</option>
                            <option value="100">100 KM</option>
                            <option value="200">200 KM</option>
                        </select>               
                    </div>   
                    <input type="button" value="Find Stores" class="button" onclick="findStockists()">
                    <p class="found-location-status"></p>
                    <div class="list-result">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 wow fadeInRight" data-wow-delay="0.5s">
                    <div id="map" style="height: 527px"></div>
                    <script>
                    var map;
                    var geocoder;
                    
                    function initMap() {
                        geocoder = new google.maps.Geocoder();
                        map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: -34.397, lng: 150.644},
                        zoom: 16
                        });
                    }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD--FMiG-K4YfTYnoUj0bDOdyhrqPrOryY&libraries=geometry&callback=initMap"
                    async defer></script>

                    <ul id="listStloc" class="d-none">
                        [%thumb_list type:'storelocation' limit:'200' filter_asc:'1'%]
                            [%param *body%]
                                <li data-name="[@stloc_name@]" data-address="[@stloc_street1@] [@stloc_street2@]<br>[@stloc_city@][%if [@stloc_state@] or [@stloc_zip@]%], [@stloc_state@] [@stloc_zip@][%/if%]<br>[%if [@stloc_country@] like 'AU'%]Australia[%/if%][%if [@stloc_country@] like 'NZ'%]New Zealand[%/if%]" data-phone="[%if [@stloc_phone@]%][@stloc_phone@][%/if%]" data-lat="[@stloc_lat@]" data-lng="[@stloc_lng@]" data-km="0"></li>
                            [%/param%]
                        [%/thumb_list%]
                    </ul>

                </div>
            </div>
        </div> 
    </section>
</div>