[%if [@count@] <= 2 %]
<div class="col-md-4 inspiration-products wow fadeInUp" data-wow-delay="0.2s">
    [%if [@count@] == 0 %]
    <img src="/assets/themes/skeletal/images/inspiration1.JPG" alt="square-img">
    [%/if%]
    [%if [@count@] == 1 %]
    <img src="/assets/themes/skeletal/images/inspiration2.jpg" alt="square-img">
    [%/if%]
    [%if [@count@] == 2 %]
    <img src="/assets/themes/skeletal/images/inspiration3.JPG" alt="square-img">
    [%/if%]
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%][%if [@user:group_id@] eq '2' %]<strong> + GST</strong>[%/if%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 3 %]
<div class="col-md-4 d-flex align-content-between flex-wrap" data-wow-delay="0.3s">
[%/if%]
[%if [@count@] > 2 and [@count@] <= 4 %]
<div class="inspiration-products wow fadeInUp" data-wow-delay="0.2s">
    [%if [@count@] == 3 %]
    <img src="/assets/themes/skeletal/images/inspiration4.jpg" alt="square-img">
    [%/if%]
    [%if [@count@] == 4 %]
    <img src="/assets/themes/skeletal/images/inspiration5.jpg" alt="square-img">
    [%/if%]
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%][%if [@user:group_id@] eq '2' %]<strong> + GST</strong>[%/if%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 4 %]
</div>
[%/if%]
[%if [@count@] == 5 %]
<div class="col-md-8 inspiration-products wow fadeInUp" data-wow-delay="0.3s">
    <img src="/assets/themes/skeletal/images/inspiration6.jpg" alt="square-img">
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%][%if [@user:group_id@] eq '2' %]<strong> + GST</strong>[%/if%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 6 %]
<div class="col-md-9 inspiration-products wow fadeInUp" data-wow-delay="0.2s">
    <img src="/assets/themes/skeletal/images/inspiration7.jpg" alt="square-img">
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%][%if [@user:group_id@] eq '2' %]<strong> + GST</strong>[%/if%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 7 %]
<div class="col-md-3 d-flex align-content-between flex-wrap">
[%/if%]
[%if [@count@] >= 7 and [@count@] <= 9 %]
<div class="inspiration-products wow fadeInUp" data-wow-delay="0.2s">
    [%if [@count@] == 7 %]
    <img src="/assets/themes/skeletal/images/inspiration8.jpg" alt="square-img">
    [%/if%]
    [%if [@count@] == 8 %]
    <img src="/assets/themes/skeletal/images/inspiration9.jpg" alt="square-img">
    [%/if%]
    [%if [@count@] == 9 %]
    <img src="/assets/themes/skeletal/images/inspiration10.jpg" alt="square-img">
    [%/if%]
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%][%if [@user:group_id@] eq '2' %]<strong> + GST</strong>[%/if%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 9 %]
</div>
[%/if%]
[%if [@count@] > 9 %]
<div class="col-md-4 inspiration-products wow fadeInUp" data-wow-delay="0.2s">
    [%if [@count@] == 10 %]
    <img src="/assets/themes/skeletal/images/inspiration11.jpg" alt="square-img">
    [%/if%]
    [%if [@count@] == 11 %]
    <img src="/assets/themes/skeletal/images/inspiration12.jpg" alt="square-img">
    [%/if%]
    [%if [@count@] == 12 %]
    <img src="/assets/themes/skeletal/images/inspiration13.jpg" alt="square-img">
    [%/if%]
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%][%if [@user:group_id@] eq '2' %]<strong> + GST</strong>[%/if%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]