[%if [@count@] <= 2 %]
<div class="col-md-4 inspiration-products wow fadeInUp">
    <img src="[%asset_url type:'product' thumb:'full' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="square-img">
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 3 %]
<div class="col-md-4 d-flex align-content-between flex-wrap">
[%/if%]
[%if [@count@] > 2 and [@count@] <= 4 %]
<div class="inspiration-products wow fadeInLeft" data-wow-delay="0.8s">
    <img src="[%asset_url type:'product' thumb:'full' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="small-rectangle-img">
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 4 %]
</div>
[%/if%]
[%if [@count@] == 5 %]
<div class="col-md-8 inspiration-products wow fadeInRight" data-wow-delay="0.8s">
    <img src="[%asset_url type:'product' thumb:'full' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="small-rectangle-img">
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 6 %]
<div class="col-md-9 inspiration-products wow fadeInLeft">
    <img src="[%asset_url type:'product' thumb:'full' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="big-square-img">
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 7 %]
<div class="col-md-3 d-flex align-content-between flex-wrap">
[%/if%]
[%if [@count@] > 7 and [@count@] <= 9 %]
<div class="inspiration-products wow fadeInRight">
    <img src="[%asset_url type:'product' thumb:'full' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="big-square-img">
    <div class="layer">             
        <span><b>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</b></span>
        <br>
        <span>[%format type:'currency'%][@store_price@][%/format%]</span>
        <a href="[@URL@]" class="button">Shop now</a>
    </div>
</div>
[%/if%]
[%if [@count@] == 9 %]
</div>
[%/if%]
[%if [@count@] > 9 %]
<div class="col-md-4 inspiration-products"><img src="/assets/themes/skeletal/images/05.png" alt="square-img">
    <div class="layer">             
        <span><b>Stevie Table Lamp</b></span>
        <br>
        <span>$129.00</span>
        <div class="button">Shop now</div>
    </div>
</div>
[%/if%]