</div>
<footer class="wrapper-footer">
	<div class="newsletter-signup bg-black">
		<div class="container">
			<h4 class="wow fadeIn" data-wow-delay="0.2s">Newsletter Signup</h4>
			[%if [@config:show_newsletter_subscribe@]%]
				<p class="wow fadeIn" data-wow-delay="0.4s">Enter your email and we'll keep you posted with news and updates!</p>
				<form class="wow fadeIn" data-wow-delay="0.6s" method="post" action="[%URL type:'page' id:'subscribe' nohost:'1'%][%END URL%]" aria-label="Newsletter subscribe form">
					<div class="input-group">
						<input name="inp-misc1" class="form-control" type="text" value="[%nohtml%][@inp-misc1@][%/nohtml%]" placeholder="Name" required aria-label="Name"/>
						<input name="inp-email" class="form-control" type="email" value="[%nohtml%][@inp-email@][%/nohtml%]" placeholder="Email" required aria-label="Email"/>
						<input name="inp-misc15" class="form-control" type="text" value="[%nohtml%][@inp-misc15@][%end nohtml%]" placeholder="Interests In" required aria-label="Interests In"/>
						<div class="d-none>
							<input type="hidden" name="list_id" value="1">
							<input type="hidden" name="opt_in" value="y">
							<input type="hidden" name="inp-submit" value="y" />
							<input type="hidden" name="inp-opt_in" value="y" />
						</div>
					</div>
				</form>
			[%/if%]
		</div>
	</div>
	<div class="footer-menu wow">
		<div class="container">
			<div class="row">
				<div class="store-info">
					<img class="logo" src="[@config:imageurl@]/themes/skeletal/images/Logo-Black.svg?[@config:neto_css_version@]" alt="[@config:company_name@] logo">
					<a href="mailto:sales@mayfieldlamps.com.au">sales@mayfieldlamps.com.au</a>
					<a href="tel:[@CONFIG:COMPANY_PHONE@]">[@CONFIG:COMPANY_ADDR@]</a>
					<p class="view-showroom">Visit our <a href="#">Showroom</a></p>
				</div>
				<div class="wrapper-footer-menu">
					<nav class="row" aria-label="Footer menu">
						[%cache type:'menu' id:'footer-content-menu' ttl:'86400'%]
							[%menu id:'web_footer'%]
								[%param *level_1%]
									<div class="col-menu-footer">
										<ul class="nav flex-column">
											<li class="nav-item d-none"><h4 class="nav-link py-0">[@name@]</h4></li>
											[@next_level@]
										</ul>
									</div>
								[%/param%]
								[%param *level_2%]
									<li class="nav-item"><a href="[@url@]" class="nav-link">[@name@]</a></li>
								[%/param%]
							[%/menu%]
						[%/cache%]
						<div class="col-menu-footer">
							<ul class="list-logo-payment">
								<li>Shop Securely With:</li>
								<li><img src="/assets/themes/skeletal/images/visa.svg" alt=""></li>
								<li><img src="/assets/themes/skeletal/images/mastercard.svg" alt=""></li>
								<li><img src="/assets/themes/skeletal/images/paypal.svg" alt=""></li>
								<li><img src="/assets/themes/skeletal/images/Afterpay.svg" alt=""></li>
							</ul>
						</div>
					</nav>
					<ul class="social-menu" itemscope itemtype="http://schema.org/Organization" role="contentinfo" aria-label="Social media">
						<meta itemprop="url" content="[@config:home_url@]"/>
						<meta itemprop="logo" content="[@config:home_url@][@config:imageurl@]/website_logo.png"/>
						<meta itemprop="name" content="[@config:company_name@]"/>
						[%if [@config:facebook_account_id@]%]
						<li class="nav-item">
							<a itemprop="sameAs" href="[@config:facebook_account_id@]" target="_blank" title="[@config:company_name@] on Facebook" rel="noopener">
								<span class="icon-social icon-fb"></span>
								<span class="sr-only">Facebook</span>
							</a>
						</li>
						[%/if%]
						[%if [@config:instagram_account_id@]%]
						<li class="nav-item">
							<a itemprop="sameAs" href="[@config:instagram_account_id@]" target="_blank" title="[@config:company_name@] on Instagram" rel="noopener">
								<span class="icon-social icon-ig"></span>
								<span class="sr-only">Instagram</span>
							</a>
						</li>
						[%/if%]
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="privacy bg-black">
		<div class="container">
			<div class="row">
				<p>© 2019 Mayfield</p>
				<a href="[@config:home_url@]/terms-conditions" data-toggle="modal" data-target="#termsModal">Terms and Conditions</a>
				<a href="[@config:home_url@]/privacy-policy" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a>
			</div>
		</div>
	</div>
</footer>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%load_template file:'footers/includes/scripts.template.html'/%]
</body>
</html>
