<div class="extra-options">

	[%if [@misc12@] ne 'y' %]
		[%data id:'multiplier_qty' if:'ne' value:'0' %]
		Order In Lots Of <strong>[@multiplier_qty@]</strong>
		[%end data%]
		[%data id:'min_qty' if:'ne' value:'0' %]
		Minimum Order Quantity <strong>[@min_qty@]</strong>
		[%end data%]
		[%data id:'max_qty' if:'ne' value:'0' %]
		Maximum Order Quantity <strong>[@max_qty@]</strong>
		[%end data%]
		<p class="afterpay">Or 4 payments of $52.25 with <a href="https://www.afterpay.com.au/terms"><img style="margin-left: 10px;" src="/assets/themes/skeletal/images/afterpay-mini.png" alt=""></a></p>
		<form class="buying-options" autocomplete="off" role="form" aria-label="Product purchase form">
			<input type="hidden" id="model[@rndm@][@SKU@]" name="model" value="[@model@]">
			<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb" value="[@thumb@]">
			<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku" value="[@SKU@]">
			<div class="block-cart">
				<div class="wrapper-addtocart">
					[%IF [@store_quantity@] > 0 AND [@preorder@] %]
					<button type="button" title="Add [@model@] to Cart" class="addtocart btn btn-warning btn-block btn-lg btn-ajax-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Pre-Order Now</button>
					[%ELSEIF [@store_quantity@] > 0 AND ![@preorder@] %]
					<button type="button" title="Add [@model@] to Cart" class="addtocart btn btn-success btn-block btn-lg btn-ajax-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Add to Cart</button>
					[%ELSEIF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
					<button type="button" title="Add [@model@] to Cart" class="addtocart btn btn-warning btn-block btn-lg btn-ajax-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Backorder</button>
					[%ELSE%]
					<a href title="Notify Me When [@model@] Is Back In Stock" class="btn btn-info btn-block btn-lg btn-ajax-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" data-toggle="modal" data-target="#notifymodal">Notify Me</a>
					[%/ IF%]
				</div>
				<div class="wrapper-qty">
					<label class="sr-only d-none" for="qty[@rndm@][@SKU@]">[@model@] quantity field</label>
					<div class="btn-qty-minus" onclick="this.parentNode.querySelector('#qty[@rndm@][@SKU@]').stepDown()">-</div>
					<input type="number" min="[@min_qty@]" class="form-control qty form-control-lg" id="qty[@rndm@][@SKU@]" name="qty" aria-label="[@model@] quantity field" value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]" size="2"/>
					<div class="btn-qty-plus" onclick="this.parentNode.querySelector('#qty[@rndm@][@SKU@]').stepUp()">+</div>
				</div>
			</div>
			[%if [@config:show_wishlist@]%]
				<div class="product-wishlist">
					[%IN_WISHLIST id:'[@SKU@]' %]
					[%param if_true%]
						<a class="wishlist_toggle" href role="button" title="Remove From Wishlist" rel="[@SKU@]"><span class="remove heart-icon" rel="wishlist_text[@SKU@]"></span></a>
					[%/ param%]
					[%param if_false%]
						<a class="wishlist_toggle" href role="button" title="Add To Wishlist" rel="[@SKU@]"><span class="add heart-icon" rel="wishlist_text[@SKU@]"></span></a>
					[%/ param%]
					[%/ IN_WISHLIST%]
				</div>
			[%/if%]
		</form>
		[%if ![@has_child@] || [@has_variation@]%]
			<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="stock-product wrapper-pricing">
				[%if [@store_quantity@] > 0 AND [@preorder@] %]
					<span itemprop="availability" content="http://schema.org/PreOrder" class="color-warning">Pre-order - Released [%format type:'date'%][@arrival_date@][%/format%]</span>
				[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
					<span itemprop="availability" content="http://schema.org/InStock" class="color-success">In Stock</span>
				[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
					<span itemprop="availability" content="http://schema.org/LimitedAvailability" class="color-danger">Sold Out - Backorder Available</span>
				[%else%]
					<span itemprop="availability" content="http://schema.org/OutOfStock" class="color-danger">Sold Out</span>
				[%/if%]
				[%if [@availability_description@]%]
					<div class="availability_description">
						[@availability_description@]
					</div>
				[%/if%]
			</div>
		[%/if%]
	[%/ IF%]
	[%if [@misc12@] eq 'y' %]
	<p style="font-size:16px;line-height: 24px">Hand made here in Melbourne by Mayfield, this shade is available in any of our stock fabrics or in your own supplied fabric or wallpaper. Each shade is meticulously finished with a colour matched machine tape and a White Powdercoated frame.</p>
	[%/if%]
	[%if [@misc12@] ne 'y' %]
	<p style="color:#9b9b9b">Free metro shipping on all orders over $200</p>
	[%/IF%]
	[%IF [@short_description@]%]
		<p class="short-description" itemprop="description" aria-label="Product Short Description">
		[@short_description@]
		</p>
	[%/ IF%]

	[%if [@misc12@] eq 'y' %]
		<div class="act-lampshades">
			<a href="[@config:home_url@]/stockists" class="button">Find a stockist</a>
			<a href="[@config:home_url@]/how-to-measure" class="button">How to measure</a>
		</div>
	[%/if%]

	<!-- colspan -->
	<div id="accordion" class="infomore-product">
		<!-- Card detail -->
		<div class="card card-details">
			<div class="card-header" id="headingDetails">
				<h5 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">
						DETAILS
					</button>
				</h5>
			</div>
		
			<div id="collapseDetails" class="collapse show" aria-labelledby="headingDetails" data-parent="#accordion">
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-description">	
								<li><strong>Description:</strong> [@description@]</li>								
								[%content_path id:'[@inventory_id@]' type:'category' limit:'1' %]
									[%param *body%]
										<li><strong>Style:</strong> [@content_name@]</li>
									[%/param%]
								[%/content_path%]
								<li><strong>SKU:</strong> [@SKU@]</li>
								[%if [@misc1@] %]<li><strong>Bulb Type:</strong> [@misc1@]</li>[%/if%]
								[%if [@misc2@] %]<li><strong>Voltage:</strong> [@misc2@]</li>[%/if%]
								[%if [@misc3@] %]<li><strong>Dimmeable:</strong> [%if [@misc3@] eq 'y' %]Yes[%else%]No[%/if%]</li>[%/if%]
								[%if [@misc4@] %]<li><strong>Assembly:</strong> [@misc4@]</li>[%/if%]
								[%if [@misc5@] %]<li><strong>Commercial Use:</strong> [%if [@misc5@] eq 'y' %]Yes[%else%]No[%/if%]</li>[%/if%]
								[%if [@misc12@] eq 'y' %]
								<li><strong>Dimensions: </strong>[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@subtitle@][%/format%]</li>
								[%/if%]
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list-description">
								[%item_specifics id:'[@sku@]'%]
									[%param *body%]
										<li><strong>[@itmspec_name@]:</strong> [@itmspecval_value@]</li>
									[%/param%]
								[%/item_specifics%]
								[%if [@misc6@] %]<li><strong>Globe Included:</strong> [%if [@misc6@] eq 'y' %]Yes[%else%]No[%/if%]</li>[%/if%]
								[%if [@misc7@] %]<li><strong>Number of lights:</strong> [@misc7@]</li>[%/if%]
								[%if [@misc8@] %]<li><strong>Switch:</strong> [@misc8@]</li>[%/if%]
								[%if [@misc9@] %]<li><strong>Certifications:</strong> [@misc9@]</li>[%/if%]
								[%if [@misc10@] %]<li><strong>Care Instructions:</strong> [@misc10@]</li>[%/if%]
								[%if [@warranty@] %]<li><strong>Warranty:</strong> [@warranty@]</li>[%/if%]
								[%if [@misc12@] eq 'y' %]
								<li><strong>Fitting Size: </strong>[%if [@misc7@] eq '0' %]E27 / B22[%else%][@misc7@][%/if%]</li>
								<li><strong>Frame Colour: </strong>White Powdercoat</li>
								<li><strong>Standard Fabric Finish: </strong>Colour Matched Trim</li>
								<li><strong>Optional Fabric Finish: </strong>Rolled Edge Finish</li>
								<li><strong>Standard Lining: </strong>Transluscent White PVC</li>
								<li><strong>Option Lining: </strong>Fabric Lining</li>
								[%/if%]
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card fabric swatches-->
		[%if [@misc12@] eq 'y' %]
		<div class="card card-fabric">
			<div class="card-header" id="headingFabric">
			<h5 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#collapseFabric" aria-expanded="false" aria-controls="collapseFabric">
					Fabric swatches 
				</button>
			</h5>
			</div>
			<div id="collapseFabric" class="collapse show" aria-labelledby="headingFabric" data-parent="#accordion">
				<div class="card-body">
					<div class="list-fabric-main">
						[%thumb_list type:'products' template:'upsell_lampshades' filter_category:'113' limit:'99'/%]
					</div>
					<div class="list-img-fabric">
						[%thumb_list type:'products' template:'upsell_lampshades' filter_category:'113' limit:'99'/%]
					</div>
				</div>
			</div>
		</div>
		[%/if%]
		<!-- Card delivery -->
		<div class="card card-delivery">
			<div class="card-header" id="headingDelivery">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseDelivery" aria-expanded="false" aria-controls="collapseDelivery">
					DELIVERY & RETURNS 
				</button>
			</h5>
			</div>
			<div id="collapseDelivery" class="collapse" aria-labelledby="headingDelivery" data-parent="#accordion">
				<div class="card-body">
					[%if [@config:show_shipping_calc@] and [@service_only@] eq 'n'%]
						[%load_template file:'products/includes/shipping_calc.template.html'/%]
					[%/if%]
				</div>
			</div>
		</div>
		<!-- Card review -->
		[%if [@misc12@] ne 'y' %]
		<div class="card card-review">
			<div class="card-header" id="headingReview">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
					REVIEWS
					[%set [@data:ratings-count@] = 1 /%]
					[%while [@data:ratings-count@] <= [@data:rating@]%]
						[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
						<i class="fas fa-star" aria-hidden="true"></i>
					[%/while%]
					[%while [@data:ratings-count@] <= 5%]
						[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
						<i class="far fa-star" aria-hidden="true"></i>
					[%/while%]
				</button>
			</h5>
			</div>
			<div id="collapseReview" class="collapse" aria-labelledby="headingReview" data-parent="#accordion">
				<div class="card-body">
					[%thumb_list type:'product_reviews' limit:'5'%]
					[%param filter_1%][@SKU@][%/param%]
					[%param *body%]
						<div itemprop="review" itemscope itemtype="http://schema.org/Review">
							<meta itemprop="itemReviewed" content="[@name@]">
							<meta itemprop="image" content="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]">
							<blockquote>
								<h4 itemprop="name">[%nohtml%][@title@][%/nohtml%]</h4>
								<div>
									<strong>
										[%if [@reviewname@]%]
											By: <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">[%nohtml%][@reviewname@][%/nohtml%]</span></span> on
										[%/if%]
										<meta itemprop="datePublished" content="[%FORMAT type:'date'%][@insert_date@][%/FORMAT%]">[%FORMAT type:'date'%][@insert_date@][%/FORMAT%]
									</strong>
								</div>
								<span itemprop="description">[%nohtml%][@review@][%/nohtml%]</span><br />
								<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
									<meta itemprop="worstRating" content = "1">
									<meta itemprop="ratingValue" content = "[@score@]">
									<meta itemprop="bestRating" content = "5">
								</div>
								[%set [@data:ratings-count@] = 1 /%]
								[%while [@data:ratings-count@] <= [@data:score@]%]
									[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
									<i class="fas fa-star"></i>
								[%/while%]
								[%while [@data:ratings-count@] <= 5%]
									[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
									<i class="far fa-star"></i>
								[%/while%]
								([@score@])
								[%if [@review_response@]%]
									<br /><br />
									<blockquote>
										<span class="review_response text-muted"><strong><i>[@config:website_name@] Response</i></strong><br /> [%nohtml%][@review_response@][%/nohtml%]</span>
									</blockquote>
								[%/if%]
							</blockquote>
						</div>
					[%/param%]
					[%param *ifempty%]
					[%/param%]
				[%/thumb_list%]
				[%if [@reviews@] > 0%]
					<p>
						<a class="btn btn-default" href="[%URL page:'account' type:'write_review' qs:'item=[@SKU@]'%][%/URL%]"><i class="far fa-edit"></i> Write a product review</a>
					</p>
				[%else%]
					<h4>Be The First To Review This Product!</h4>
					<p>Help other [@config:company_name@] users shop smarter by writing reviews for products you have purchased.</p>
					<p><a class="btn btn-default" style="color: #000000;" href="[%URL page:'account' type:'write_review' qs:'item=[@SKU@]'%][%/URL%]"><i class="far fa-edit"></i> Write a product review</a></p>
				[%/if%]
				</div>
			</div>
		</div>
		[%/if%]
	</div>
</div>

<div class="modal fade notifymodal" id="notifymodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Notify me when back in stock</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Your Name</label>
					<input placeholder="Jane Smith" name="from_name" id="from_name" type="text" class="form-control" value="[%NOHTML%][@FROM_NAME@][%/ NOHTML%]">
				</div>
				<div class="form-group">
					<label>Your Email Address</label>
					<input placeholder="jane.smith@test.com.au" name="from" id="from" type="email" class="form-control" value="[%NOHTML%][@FROM@][%/ NOHTML%]">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="y" class="terms_box" required/>
						I have read and agree to
						<a href="#" data-toggle="modal" data-target="#termsModal">Terms &amp; Conditions</a> and
						<a href="#" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a>.
					</label>
					<span class="help-block hidden">Please tick this box to proceed.</span>
				</div>
			</div>
			<div class="modal-footer">
				<input class="btn btn-danger" type="button" data-dismiss="modal" value="Cancel">
				<input class="btn btn-success js-notifymodal-in-stock" data-sku="[@sku@]" type="button" value="Save My Details">
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>