
.logo{
    width: 155px;
}
.bg-menu{
    width: 100%;
    height: 405px;
    position: absolute;
    top: 113px;
    left: 0;
    display: none;
    background: white;
    z-index: 1;
}
.navbar-nav .dropdown-menu{
    position: absolute
}
.bg-menu::before{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
}
.bg-menu::after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    bottom: 50px;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
}
.bg-menu.show{
    display: block
}
/* Commercial */
.project-gallery .title{
    margin-bottom:58px
}
.project-gallery .row{
    margin:50px auto
}
.project-gallery .row p{
    color: #000000;
    font-family: "Helvetica-Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top:21px
}


/* Outlet */
.about-outlet{
    margin-top:40px
}
.outlet-details{
    width: 100%;
    min-height:83px
}
.outlet-details .img-location, .outlet-details .img-clock{
    height: 44px;
    width: 30px;
    margin-right: 27px
}
.outlet-details p{
    width: 200px;
    height: 83px;
    display: inline-block
}
/* Form */
.contact-us .form{
    color: #000000;
    font-family: "HelveticaNeue";
    font-size: 16px;
    width: 570px;
    padding: 0
}
.contact-us .form .form-name{
    color: #000000;
    font-family: "HelveticaNeue";
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.contact-us .form .button{
    margin-top: 30px
}
.field-devide,.field-long,.field-devide-short{
    margin-top: 10px;
    display: inline-block;
    margin-right: 5px;
}
.field-long textarea{
    display: block;
    border: 1px solid rgb(226, 212, 212);
}
.field-devide input,.field-devide-short input,.field-long input{
    display:block;
    height: 35px;  
    padding-top:20px;
    border: 1px solid rgb(226, 212, 212);
}
.field-devide {
    width:273px;
    margin-right: 25px
}
.field-devide-short{
    width:262px;
}
.field-long{
    width:570px;
}
.field-devide input,.field-devide-short input,.field-long input{
    width: 100%; 
}
.field-long textarea{
    padding: 9px 0 0 18px;
}
.button{
    text-transform: uppercase;
    border: 1px solid black;
    color:black;
    font-family: "HelveticaNeue";
    font-size: 14px;
    width: 200px;
    height: 45px;
    text-align: center;
    padding-top: 12px;
    margin: 32px 0;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}
.button:first-child{
    margin-right: 15px
}
.button:hover{
    background: black;
    color: white;
    text-decoration: none;
}

.lampshades-main-content .slider .slick-initialized .slick-slide {
    margin: 0 10px;
}
.product-range .slider {
    position: relative;
}
.lampshades-main-content .product-range .next, 
.lampshades-main-content .product-range .next1, 
.lampshades-main-content .product-range .next2, 
.lampshades-main-content .product-range .next3, 
.lampshades-main-content .product-range .next4 {
    right: -50px !important;
}

.lampshades-main-content .product-range .prev, 
.lampshades-main-content .product-range .prev1, 
.lampshades-main-content .product-range .prev2, 
.lampshades-main-content .product-range .prev3, 
.lampshades-main-content .product-range .prev4 {
    left: -50px !important;
}

.lampshades-main-content .product-range .slider .img-slider1 {
    min-width: auto !important;
}
.section-instagram .container-fluid a{
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 1199px) {
    .section-top-seller {
        padding: 0 15px 60px;
    }
    .section-editer .content-text {
        text-align: left;
    }
    .filter-group .select .select-options{
        position: relative!important;
        width: 100%;
    }
    .col-right-filter .select .select-options{
        position: relative!important;
        width: 50%;
    } 
}

@media screen and (max-width: 991px) {
    .section-editer .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .section-editer .col-lg-6 .content-text,
    .section-editer .col-lg-6 .content-image {
        padding: 0;
    }
    .section-editer .container {
        padding-right: 22.5px;
        padding-left: 22.5px;
        max-width: 100%;
        width: 100%
    }
    .section-seller .content-block-metricon,
    .section-seller .content-block-wholesale {
        margin-right: 7.5px;
        margin-left: 7.5px;
        margin-bottom: 10px;
    }
    .section-instagram .instagrm-demo .row {
        margin: 0;
    }
    .section-instagram .container-fluid {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    .section-instagram .col-md-2 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding-bottom: 15px;
    }
    .section-instagram .img-fluid {
        width: 100%;
    }
    .section-why-buy-us .container {
        width: 100%;
        max-width: 100%;
    }
    .section-why-buy-us {
        padding: 40px 22.5px !important;
    }
    .product-range .info {
        margin: 24px auto 30px !important;
    }
    .product-range .title {
        margin-top: 50px !important;
    }
    .product-range .row {
        margin-top: 40px !important;
    }
    .product-range .slider {
        margin-top: 24px;
    }
    .also-like .img-box{
        flex:0 0 50%;
        max-width:50%!important
    }
}

@media screen and (max-width: 766px) {
    .section-why-buy-us {
        padding: 30px 0px !important;
    }
    .section-why-buy-us .wrapper-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .section-why-buy-us .content-section .title-section {
        display: block;
        margin-bottom: 25px !important;
    }
    .section-why-buy-us .content-section .block-why {
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .section-why-buy-us .content-section .block-why .block-item {
        margin: 0 !important;
    }
    .section-why-buy-us .content-section .block-why .block-item .wrapper-image {
        min-height: auto;
    }
    .section-why-buy-us .content-section .block-why .block-item .wrapper-image .img-fluid {
        object-fit: scale-down;
        width: 100px;
        height: 100px;
    }
    .section-seller .content-block {
        height: 350px !important;
    }
    .section-editer {
        padding: 0 !important;
    }
    .section-editer .col-lg-6 .content-text p {
        display: none;
    }
    .section-seller {
        padding: 10px 0 60px !important;
    }
    .section-editer .row {
        position: relative;
    }
    .section-editer .row .col-lg-6 {
        position: initial;
    }
    .section-editer .content-text {
        position: absolute;
        z-index: 10;
        text-align: center;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .section-editer .content-text .title-section {
        margin-bottom: .5rem;
        color: #ffffff;
        font-size: 53px;
    }
    .section-editer .content-text a {
        font-size: 22px !important;
        color: #fff !important;
    }
    .section-editer .content-image img {
        width: 100%;
        height: 350px !important;
        object-fit: cover;
        object-position: top;
    }
    .section-editer .row .col-lg-6 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .section-slide-banner .carousel-caption {
        text-align: center !important;
    }

    /*inspiration*/
    .inspiration-gallery .row_2>div{
        justify-content: center;
    }

    .inspiration-gallery .row_2 img,
    .inspiration-gallery .row_2 .inspiration-products,
    .inspiration-gallery .row_3 img,
    .inspiration-gallery .row_3 .inspiration-products{
        width: 100%; 
    }

    .inspiration-gallery .row_3>div{
        justify-content: space-evenly;
    }

    .imspiration-main-content .inspiration-gallery .inspiration-products{
        padding-bottom: 20px;
    }

    .inspiration-gallery >.row{
        padding: 0!important;
    }
    .col-right-filter .select .select-options{
        width: 100%;
    } 
}

@media screen and (max-width: 575px) {
    .section-why-buy-us .content-section {
        padding: 25px 0 0 !important;
    }
    .section-why-buy-us .content-section .title-section {
        font-size: 30px;
        display: block;
        margin-bottom: 20px !important;
    }
    .section-instagram .col-md-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .section-why-buy-us .content-section .block-why .block-item {
        width: 50%;
        margin-bottom: 20px !important;
    }
    .section-instagram .col-md-2 {
        padding: 3px;
    }
    .section-instagram .title-section {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .section-instagram .sup-title {
        font-size: 16px !important;
        margin-bottom: 8px !important;
    }
    .section-seller {
        padding: 16px 0 25px !important;
    }
    .section-seller .content-block .content-text {
        padding-bottom: 24px;
    }
    .section-seller .col-lg-6 {
        padding: 0
    }
    .section-seller .content-block h2,
    .section-editer .content-text .title-section {
        font-size: 36px !important;
        margin-bottom: 0;
    }
    .section-seller .content-block a,
    .section-editer .content-text a {
        line-height: normal !important;
        font-size: 16px !important;
    }
    .section-seller .content-block {
        height: 280px !important;
        margin: 0 0 16px !important;
    }
    .section-editer .container,
    .section-editer .container .col-lg-6 {
        padding: 0;
    }
    .section-editer .row {
        margin: 0;
    }
    .section-editer .content-image img {
        height: 280px !important;
    }
    .section-editer .content-image {
        padding: 0 !important;
    }
    .section-editer .content-text {
        bottom: 24px;
    }
    .section-arrivals .col-arrival,
    .section-arrivals .col-arrival-lg {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        margin-bottom: 16px !important;
        overflow: hidden;
    }
    .section-arrivals .col-arrival article {
        height: 360px !important;
    }
    .section-arrivals .col-arrival-lg article {
        height: 256px !important;
    }
    .section-arrivals {
        padding: 0 15px 40px;
    }
    .section-arrivals h2.title,
    .section-top-seller .title {
        font-size: 24px !important;
    }
    .section-top-seller {
        padding: 0 11px 40px;
    }
    .section-slide-banner .carousel-inner .carousel-item img {
        height: 380px;
    }
    .carousel .carousel-caption h2 {
        font-size: 36px !important;
    }
    .carousel .carousel-caption p span {
        font-size: 18px !important;
        object-position: center;
        object-fit: cover;
    }
    .section-slide-banner {
        margin-bottom: 60px !important;
        padding: 0 !important;
    }
    .main-content-page .title-page, 
    section .title-section,
    .lampshades-main-content .product-range .title,
    .lampshades-main-content .product-range h3 {
        font-size: 32px !important;
    }
    .description-content-coper .enquiry, 
    .description-content-coper p {
        font-size: 18px !important;
    }

    .modal-pendant .modal-pendant-dialog{
        padding: 25px 15px!important;
    }
}


@media screen and (min-width: 1440px){
    .inspiration-gallery,
    .project-gallery .row{
        max-width: 1363px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.modal-pendant.open{
    height: 100vh;
    overflow-y: scroll;
}

.modal-pendant .modal-pendant-dialog{
    height: initial!important;
    margin-bottom: 5%;
}

.wrapper-button{
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 999;
    display: none;
}

.wrapper-button:hover{
    display: block;
}

.wrapper-button>button{
    background-image: url(../images/heart-icon-black.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 49px;
    height: 49px;
    border: none;
}

.wrapper-button>button:first-child{
    background-image: url(../images/plus.svg);
    margin-bottom: 10px;
}

.wrapper-button>button:last-child{
    background-image: url(../images/minus.svg);
}

.wrapper-button>*:focus{
    outline: none;
}

.wrapper-button .btn-zoom-out{
    margin-bottom:0;
}

.zoom10>div{
    overflow: hidden;
    /* background-color: gray; */
}

.zoom10>div>div:hover + div{
    display: block;
}

.zoom10>div{
    display: inline-block;
    position: relative;
}

#main-image{
    position: relative;
    transition: transform 0.5s ease;
}

#main-image:hover{
    cursor: pointer;
}

.img-box{
    display: inline-block;
    position: relative;
    padding: 0 6px;
}
.also-like .img-box{
    max-width:25%;
    width:100%;
    height:auto
}

.img-box .thumbnail-image{
    position: absolute;
    top: 73%;
    left: 50%;
    margin-left: -55px;
    width: 112px;
    height: 23px;
    border: solid 0.5px #000000;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    color: black;
    display: none;
    line-height: 0;
}

.img-box:hover .thumbnail-image{
    display: flex;
}

.input-group-append{
    width: 100%;
    max-width: 200px;
}

.input-group-append input{
    height: 41px;
    padding: 5px 0 0 0!important;
    width: 100%;
    line-height: 0;
}
.wrapper-footer .newsletter-signup .input-group .form-control{
    line-height: 0;
    padding-top: 10px;
}

.img-box .text-center a{
    font-size: 14px;
    font-weight: 500;
    color: #212529;
}

.img-box form{
    position: absolute;
    top: 12px;
    right: 12px;
    display: none;
}

.img-box:hover form{
    display: block;
}

.img-box-part{
    min-height: 240px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #cccccc;
    margin-bottom: 9px;
    overflow: hidden;
}

.img-box-part img{
    height: auto;
}

.img-box .heart-icon{
    width: 15px;
    height: 15px;
    display: block;
    background-image: url(../images/heart-icon-black.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer
}

.pro-range-prev{
    background: url(../images/prev.png) 50% no-repeat;
    left: -50px;
    top: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -25px;
}

.pro-range-next{
    background: url(../images/next.png) 50% no-repeat;
    right: -50px;
    top: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -25px;
}
/* #collapseFabric.collapse:not(.show){
    display:block
} */
.main-content-pro  .collapse.show{
    display:block!important
}
.section-banner-post img{
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}
.list-img-fabric{
    cursor: pointer
}
/* .list-img-fabric .slick-list{
    padding: 0!important
}
.list-img-fabric .slick-slide{
    width:55px!important
} */
.fabric-item .content-img img{
    width:170px;
    max-height: 170px;
    height: 100%;
}
.main-content-customer .btn-success{
    background: black;
    border: 1px solid black
}
.btn-success:not(:disabled):not(.disabled):active,.btn-success:not(:disabled):not(.disabled).active{
    background: black!important;
    border: 1px solid black!important;
}
.main-content-customer .btn-success:hover{
    opacity: 0.8
}
.empty-cart-page .btn-success{
    background:black;
    border: 1px solid black
}
.empty-cart-page .btn-success:hover{
    opacity: 0.8
}
@media screen and (max-width: 991px){
    .wrapper-product-title h1{
        font-size: 35px!important;
        margin-bottom: 5px!important;
    }
    .wrapper-product-title .h1{
        font-size: 22px!important;
        margin-bottom: 10px!important;
    }
    .act-lampshades .button{
        width: 160px
    }
}