.main-content-cart{
    padding-top: 50px;
    padding-bottom: 50px;
    .btn-success,.btn-primary{
        background: black;
        border: black;
        &:hover{
            opacity: 0.8;
        }
        &.active{
            background: black;
            border: black;
        }
    }
}
.empty-cart-page{
    padding-top: 80px;
    padding-bottom: 50px;
}