.catalogue-main-content{
    .catalogue-bg{
        background: url('../images/catalogue-banner.png');
        width: 100%;
        min-height: 687px;
        position: relative;
        .form-box{
            width: 821px;
            height: 429px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            background-color: #ffffff;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            padding: 60px 60px;
            font-family: "Helvetica-Neue",sans-serif;
            form{
                margin-top:25px;
                input{
                    width: 330px;
                    height: 44px;
                    margin: 0 16px 16px 0;
                    padding: 10px 20px;
                    color: #9b9b9b;
                    font-family: "Helvetica-Neue",sans-serif;
                    font-size: 14px;
                    line-height: 24px;
                    border: 1px solid rgb(226, 212, 212);
                }
                .button{
                    margin: 16px auto;
                    display: block
                }
            }
            h4{
                font-size: 22px;
                font-weight: 600;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                border-bottom: 1px solid rgb(226, 212, 212);
                padding-bottom: 25px
            }
        }
    }
}