@media (max-width:1199px){

}
@media (max-width:991px){
    
}
@media (max-width:767px){
    .main-content-catalogue{
        .main-form-catalogue{
            padding:20px!important;
            .wrapper-form{           
                    .btn-outline-secondary{
                    min-width: 100%!important
                    }     
                    .col-md-6:nth-child(2){
                        margin-top: 16px
                    }    
            }          
        }
    }
}
@media (max-width:575px){
   
}