.custommade-main-content{
    h2{
        color: #000000;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 20px;
        font-family: "Helvetica-Neue",sans-serif;
    }
    p{
        font-size: 16px;
        font-family: "Helvetica-Neue",sans-serif;
    }
    .our-clients{
        background: #f1f2f2;
        width:100%;
        min-height: 502px;
        margin-top: 30px;
        .title{
            padding-top:32px;
            width: 100%;
            font-family: "Helvetica-Neue",sans-serif;
            color: #000000;
            font-size: 40px;
            font-weight: 600;
        }
        .custom-col-2{
            flex: 0 0 20%;
            max-width: 20%;
            text-align: center;
            padding: 43px 0;
        }
    }
    .products{
        margin-top:65px;
        .row{
            margin-bottom:30px
        }
        .description2{
            color: #000000;
            font-family: "Helvetica-Neue",sans-serif;
            font-size: 16px;
            line-height: 24px;
            padding-right:80px
        }
    }
    .item-box {
        padding:40px;
        &:nth-child(2){
            background: #f1f2f2
        }
    }
}
@media (max-width: 1199px){
    .section-header-content{
        .description-content-coper{
            width: 100%;
        }
    }
    .content .item-box:nth-child(2){
        background: white
    }
    .description,.col-img{
        background: white;
        padding: 0!important;
        margin: 0
    }
   
    .contact-us .form{
        text-align: left;
        margin: 0 15px;
        .field-devide,.field-long,.field-devide-short{
            margin-top: 32px;
            display: inline-block;
            margin-right: 5px;
            width: 48%;
            input{
                display:block;
                height: 35px;  
                padding-top:20px;
                width:100%
            }
            }
        .field-long textarea{
            display: block;
            padding: 9px 0 0 18px;
            input{
                width:202%
            }
        }
    }
}
@media (max-width: 991px){
    body{
        text-align: center;  
    }
    .section-header-content{
        .description-content-coper{
            width: 100%;
        }
    }
    .description,.col-img{
        background:white;
        padding: 0!important;
        margin: 0
    }
    .contact-us .form{
        text-align: left;
        margin: 0 15px;
        .field-devide, .field-long, .field-devide-short {
            width: 100%;
            margin:8px 0;
            input{
                width: 100%;
                padding:12px 0 0 15px;
                margin: 0;
                 }
        }
        .field-long textarea {
            width: 100%;
            padding:12px 0 0 15px;
            margin: 0;
        }
        .button{
            width:100%
        }
    }
    .our-clients{
        .custom-col-2{
            flex: 0 0 25%!important;
            max-width: 25%!important;
        }
    }
}

@media (max-width:767px){
    .our-clients{
        .custom-col-2{
            flex: 0 0 50%!important;
            max-width: 50%!important;
            padding: 8px!important;
            img{
                background-color: #d8d8d8;
                padding: 11px 13px 16px
            }
        }
    }
}
@media (max-width:575px){}