.inspiration-main-content{
    padding-bottom: 80px;
    .inspiration-gallery{
        text-align: center;
        padding: 0 15px;
        .inspiration-products{
            position: relative;
            width: 100%;
            margin-bottom: 30px;
            .layer{
                width: 100%;
                height: 135px;
                opacity: 0.8;
                background-color: #ffffff;
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                padding-top:16px;
                display: none;
                &:hover{
                    display: block
                }
                .button{
                    display: block;
                    margin:10px auto;
                }
            }
            img{
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
            img:hover+.layer{
                display: block;
            }
        }
    }
}