.main-content-ourstory{
    .ourstory-content{
        padding-top: 60px;
        font-family: "Helvetica-Neue",sans-serif;
        p{
            font-family: "Helvetica-Neue",sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        img{
            max-width: 100%;
            height: auto;
        }
        .image-full{
            padding: 80px 0;
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .image-full-1{
            img{
                display: block;
                margin: 0 auto;
            }
        }
        h4, h3, h5{
            color: #000000;
            font-family: "Helvetica-Neue",sans-serif;
            font-size: 40px;
            font-weight: 600;
            font-style: italic;
            margin: 80px 0;
            text-align: center;
        }
        .row{
            >.col-md-6:first-child{
                .content{
                    >p{
                        padding-left: 50px;
                    }
                    img{
                        margin-top: 40px;
                    }
                }
            }
            >.col-md-6:last-child{
                .content{
                    img{
                        margin-bottom: 40px;
                    }
                    >p:first-child{
                        margin-bottom: 32px;
                    }
                }
            }
            >.col-md-6{
                .content{
                    padding: 0 35px;
                    >p{
                        strong{
                            display: inherit;
                            padding-bottom: 16px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:991px){
    .col-md-6{
        margin-top:16px;
        p{
            padding: 0!important
    }
    }
    
}