.wholesale-main-content{
    .text-about{
        color: #000000;
        font-family: "Helvetica-Neue",sans-serif;
        font-size: 16px;
        line-height: 24px;
        padding:0 69px
    }
    .agents-section .info-agents{
        padding-left:69px;
        font-family: "Helvetica-Neue",sans-serif;
        font-size: 16px;
        line-height: 24px;
    }
    .button{
        text-transform: uppercase;
        border: 1px solid black;
        color: black;
        font-family: "Helvetica-Neue",sans-serif;
        font-size: 14px;
        width: 200px;
        text-align: center;
        margin: 32px 0;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
        line-height: normal;
        padding: 13px 15px;
        &:hover{
            text-decoration: none;
            color: #ffffff;
            background-color: #000000;
        }
    }
    .agents-section{
        padding: 30px 0 60px;
        h2{
            margin-bottom: 40px;
        }
    }
}
@media (max-width:1199px){
    .wholesale-main-content{
        .text-about{
            padding:0 15px
        }
        .wholesale-about{
            .button-group{
                margin: 10px 0;
                .button{
                    margin: 10px 0;
                }
            }
        }
        .agents-section{
            .info-agents{
                padding-left:15px
            }
        }
        
    }
}
@media (max-width:991px){
    .wholesale-about{
        .button{
            width: 200px  
            }
    }
}
@media (max-width:767px){}
@media (max-width:575px){
    .wholesale-about{
        .button{
            width: 170px;
            padding: 14px 11px
        }
    }
}