.wrapper-header{
    .top-header{
        font-family: "Helvetica-Neue",sans-serif;
        font-size: 10px;
        font-weight: 600;
        color: #fff;
        background-color: #000;
        padding: 17px 0 15px;
        text-align: center;
        text-transform: uppercase;
        line-height: normal;
        letter-spacing: normal;
    }
    .wrapper-logo{
        a{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            &:hover{
                text-decoration: none;
            }
            .since{
                color: #000000;
                font-size: 9px;
                text-transform: uppercase;
                font-family: "Helvetica-Neue",sans-serif;
                font-weight: 600;
            }
        }
    }
    .main-header{
        padding: 30px 30px 20px;
        border-bottom: 1px solid #979797;
        >.main-menu-desktop{
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
    }
    nav.navbar{
        padding: 0;
        li{
            font-size: 14px;
            font-weight: 700;
            >a{
                color: #000000;
                padding: 8px 20px;
                font-family: "Helvetica-Neue",sans-serif;
                &.dropdown-toggle{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }
            }
        }
        .dropdown-menu{
            >li{
                font-size: 14px;
                font-weight: 700;
                >a{
                    color: #000000;
                    padding: 8px 20px;
                    font-family: "Helvetica-Neue",sans-serif;
                    &:active{
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .navbar-menu{
        >ul.navbar-nav{
            >li{
                text-transform: uppercase;
            }
        }
        .dropdown-menu{
            >li{
                text-transform: initial;
            }
        }
    }
    .navbar-shop{
        .nav-item{
            >a{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                font-family: "Helvetica-Neue",sans-serif;
                &:before{
                    content: '';
                    display: inline-block;
                    border: 0;
                    width: 20px;
                    height: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin:-6px 8px 0 10px
                }
                &.user-link:before{
                    background-image: url(../images/Account.svg);
                }
                &.cart-link:before{
                    background-image: url(../images/Cart.svg);
                }
                &.search-link:before{
                    background-image: url(../images/Search.svg);
                }
            }
        }
    }
    .main-menu-desktop{
        ul.navbar-nav{
            >li{
                >a.dropdown-toggle:after{
                    margin-left: 8px;
                    margin-top:-7px;
                    border: 0;
                    width: 16px;
                    height: 8px;
                    background-image: url('../images/icon-down.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    font-family: "Helvetica-Neue",sans-serif;
                }
            }
        }
    }
    .sub-header{
        padding: 10px;
        border-bottom: 1px solid #979797;
        justify-content: center;
        span{
            padding: 0 54px;
            font-size: 10px;
            font-family: "Helvetica-Neue",sans-serif;
            &:not(:last-child){
                border-right: 0.5px solid #000000;
            }
        }
    }
    .header-search,
    .header-search-mb{
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        padding: 50px;
        min-height: 200px;
        z-index: 99;
        border-bottom: 2px solid;
        .d-lggg-block{
            font-size: 25px;
            margin-bottom: 15px;
            display: block;
        }
        .btn-outline-secondary{
            color: #000000;
        }
        .close-search{
            position: absolute;
            right: 30px;
            top: 30px;
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 1300px){
    .wrapper-nav-menu-main{
        nav.navbar{
            li>a{
                padding: 8px 10px;
            }
        }
    }
}
@media(max-width:1199px){
    .navbar-menu{
        margin-right: 0!important
    }
}
@media screen and (min-width: 1200px){
    .wrapper-header{
        .navbar-menu{      
            .navbar-nav{
                .dropdown-menu{
                    position: absolute!important;
                    top: calc(100% + 27px);
                    min-width: 170px;
                    width: fit-content;
                }
                >li>.dropdown-menu{
                    &::after{
                        content: '';
                        position: absolute;
                        width: 300vw;
                        height: 290px;
                        left: -100vw;
                        background-color: #ffffff;
                        border-bottom: solid 0.4px #000000;
                        top: 0;
                        z-index: -1;
                    }
                }
            }
        }
        .main-menu-desktop{
            flex-wrap: wrap;
            .wrapper-logo,
            .wrapper-nav-menu-shop{
                display: flex;
                flex: 0 0 28%;
                max-width: 28%;
            }
            .wrapper-nav-menu-shop{
                justify-content: flex-end;
            }
            .wrapper-nav-menu-main{
                flex: 0 0 44%;
                max-width: 44%;
                display: flex;
                justify-content: space-around;
            }
        }
       
    }
}
@media screen and (min-width: 992px){
    body{
        overflow-x: hidden;
    }
    .wrapper-header{
        position: relative;
        &.show:after{
            content: '';
            position: absolute;
            top: calc(100% - 36px);
            left: 0;
            width: 100%;
            height: 300px;
            background-color: #ffffff;
            z-index: 2;
            border-bottom: 1px solid #979797;
        }
        ul.navbar-nav{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            .dropdown-menu{
                margin: 0;
                border-radius: 0;
                padding: 40px 0;
                border: 0;
                // border-top: 2px solid #000000;
                // &.show:before{
                //     content: '';
                //     position: absolute;
                //     width: 200vw;
                //     height: 100%;
                //     left: -100%;
                //     top: 0;
                //     background-color: #ffffff;
                //     border-bottom: 1px solid #979797;
                // }
            }
            li.mega {
                >.dropdown-menu{
                    width: max-content;
                    
                    >li{
                        display: inline-block;
                        >a{
                            text-transform: uppercase;
                            font-weight: 700;
                            &:hover{
                                background-color: #ffffff;
                            }
                        }
                        >.dropdown-menu{
                            position: relative!important;
                            display: block;
                            top: 0;
                            left: 0;
                            border: 0;
                            padding: 20px 0 0;
                            >li{
                                >a{
                                    &:active{
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .navbar-menu{
            ul.navbar-nav{
                // li.nav-item.dropdown.show{
                //     .dropdown-menu{
                //         border-top:2px solid #979797;
                //     }
                // }
                li.nav-item.dropdown.show:after{
                    content: '';
                    position: absolute;
                    bottom: -26px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #979797;
                    z-index: 2;
                }
            }
        }
        .navbar-shop{
            ul.navbar-nav{
                .nav-item.dropdown{
                    .dropdown-menu{
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                        position: absolute!important;
                        top: calc(100% + 27px);
                        left: 0;
                        min-width: 170px;
                        width: fit-content;
                        border: 1px solid #000000;
                        border-top: none;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 300vw;
                            height: 290px;
                            left: -100vw;
                            background-color: #ffffff;
                            border-bottom: solid 0.4px #000000;
                            top: 0;
                            z-index: -1;
                        }
                        >li{
                            padding: 0 20px;
                        }
                        >li:first-child{
                            margin-bottom: 20px;
                            a{
                                padding: 3px 30px;
                                border: 1px solid #000000;
                            text-align: center;
                            }
                        }
                        >li:not(:first-child){
                            a{
                                padding: 2px 0;
                            }
                            &:hover{
                                background-color: #f8f9fa
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-mobile{
        display: none;
    }
    .main-menu-desktop{
        .overlay{
            display: none;
        }
    }
    .wrapper-nav-menu-shop{
        nav.navbar{
            li>a{
                padding: 8px 10px!important;
            }
        }
    }
}
@media screen and (max-width: 1300px) and (min-width: 992px){
    .wrapper-header{
        .d-lggg-block{
            display: none;
        }
    }
    .main-menu-desktop .wrapper-nav-menu-shop ul.navbar-nav>li>a.dropdown-toggle:after{
        display: none!important;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px){
    .wrapper-header{
        nav.navbar{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .wrapper-logo,
        .wrapper-nav-menu-main,
        .wrapper-nav-menu-shop{
            display: flex;
            justify-content: center;
        }
        .main-header{
            >.main-menu-desktop{
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }
        }
        .navbar-nav{
            .dropdown-menu{
                position: absolute!important;
                top: calc(100% + 27px);
            }
            >li>.dropdown-menu{
                &::after{
                    content: '';
                    position: absolute;
                    width: 300vw;
                    height: 290px;
                    left: -100vw;
                    background-color: #ffffff;
                    border-bottom: solid 0.4px #000000;
                    top: 0;
                    z-index: -1;
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    .sub-header{
        overflow: hidden;
    }
    .shop-last{
        display: none!important;
    }
    .wrapper-header{
        .main-header{
            padding: 25px 7px 25px 0;
            .overlay{
                position: fixed;
                top: 0;
                left: -100vw;
                width: 30vw;
                min-height: 100vh;
                z-index: 99;
                background-color: rgba(0, 0, 0, .3);
                transition: all 0.2s ease-in-out;
                &.show{
                    left: 70vw;
                }
            }
        }
        .menu-mobile{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;
            .wrapper-logo{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
            .navbar-nav{
                flex-direction: row;
            }
            ul.navbar-nav{
                >li{
                    >a{
                        padding: 8px 0;
                        &.dropdown-toggle:after{
                            display: none;
                        }
                    }
                }
            }
        }
        .main-menu-desktop{
            display: inherit!important;
            position: fixed;
            top: 0;
            left: -100vw;
            width: 70vw;
            min-height: 100vh;
            background-color: #ffffff;
            z-index: 99;
            padding: 30px 0;
            transition: all 0.2s ease-in-out;
            height: 100vh;
            overflow: auto;
            &.show{
                left: 0;
            }
            nav.navbar{
                flex-direction: column-reverse;
                align-items: flex-start;
            }
            .wrapper-logo{
                display: flex;
                justify-content: center;
                margin-bottom: 25px;
                a{
                    align-items: center;
                }
            }
            .shop-last{
                display: none!important;
            }
            .navbar-shop{
                width: 100%;
                padding-bottom: 25px;
                border-bottom: 2px solid #000000;
                ul.navbar-nav{
                    flex-direction: row;
                    padding: 0;
                    justify-content: center;
                    >li{
                        a{
                            padding: 8px;
                            &.dropdown-toggle:after{
                                display: none;
                            }
                        }
                    }
                }
            }
            .navbar-menu{
                width: 100%;
                padding-top: 8px;
                text-align: left;
                .dropdown-menu{
                    width: 100%;
                }
            }
        }
        .wrapper-nav-menu-main{
            .navbar-nav{
                >li>a{
                    padding: 8px 15px!important;
                }
            }
            .dropdown-menu{
                >li>a{
                    padding: 8px 15px!important;
                }
            }
        }
        .navbar-nav{
            .dropdown-menu{
                border: 0;
                border-radius: 0;
                background-color: #f0f0f0;
                position: static;
                padding-left: 0;
            }
            li.mega{
                >.dropdown-menu{
                    >li{
                        >.dropdown-menu{
                            display: block;
                        }
                        >a{
                            text-transform: uppercase;
                            font-weight: 600;
                            padding-top: 15px;
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }
        .d-lggg-block{
            display: none;
        }
        .sub-header{
            span{
                border: 0;
                text-align: center;
            }
        }
    }

    .wrapper-footer{
        .newsletter-signup{
            h4{
                font-size: 32px;
            }
            .input-group{
                .form-control{
                    width: 100%;
                    margin: 0 0 15px 0;
                    margin-bottom: 10px
                }
            }
            .select{
                max-width: 100%!important;
                padding-right: 0!important;
                margin-bottom:10px
            }
            .input-group-append{
                width: 100%;
                input[type=submit]{
                    width: 100%;
                }
            }
        }
        .store-info{
            width: 100%;
            margin-bottom: 20px;
            padding: 0 15px;
        }
        .wrapper-footer-menu{
            width: 100%;
            flex-wrap: wrap;
            padding: 0 15px;
            nav{
                width: 100%;
            }
            .col-menu-footer{
                padding: 0 15px;
                width: 50%;
                margin-bottom: 25px;
                .list-logo-payment{
                    li{
                        margin-bottom: 15px;
                    }
                }
            }
            .social-menu{
                width: 100%;
                padding-inline-start: 50%;
            }
        }
        .privacy{
            padding: 24px 15px;
            .row{
                justify-content: flex-end;
            }
            p{
                font-size: 12px;
                font-weight: 600;
                margin: 0;
                width: 50%;
            }
            a{
                font-size: 12px;
                font-weight: 600;
                color: #ffffff;
                width: 50%;
            }
        }
    }
}